name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13.3
        env:
          POSTGRES_DB: quarkus_test
          POSTGRES_USER: quarkus_test
          POSTGRES_PASSWORD: quarkus_test
        ports:
          - 15432:5432
        options: >-
          --health-cmd="pg_isready -U quarkus_test -d quarkus_test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Run tests (unit + integration)
        env:
          QUARKUS_DATASOURCE_DEVSERVICES_ENABLED: "false"
          QUARKUS_DATASOURCE_DB_KIND: postgresql
          QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://localhost:15432/quarkus_test
          QUARKUS_DATASOURCE_USERNAME: quarkus_test
          QUARKUS_DATASOURCE_PASSWORD: quarkus_test
        run: ./mvnw -B clean verify


      - name: Upload JaCoCo report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco
